<!--

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
 <ion-content>
  <div class="main_content_div" style="padding-top: 20vh;">

      <div style="background-color: white; padding-top: 15px; margin-bottom: 25px; border-top: 3px var(--ion-color-primary)solid;">
        <ion-thumbnail style="display: contents;">
          <ion-skeleton-text *ngIf="!loadedCompany" [animated]="true" style="width: 200px; height: 40px; margin: auto;"></ion-skeleton-text>
          <ion-img *ngIf="loadedCompany" [src]="siteLogo" style="width: 200px; height: auto; margin: auto;"></ion-img>
        </ion-thumbnail>
        <ion-label class="small_lbl" style="color: black; padding: 10px 0 25px;">Log in with your account</ion-label>
      </div>

      <ion-input type="text" placeholder="Email" [(ngModel)]="email">
          <ion-icon name="mail"></ion-icon>
      </ion-input>

      <ion-input type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
          <ion-icon name="key"></ion-icon>
      </ion-input>

      <ion-button expand="block" (click)="login()">
        Login
      </ion-button>

      <ion-label class="forgot_lbl" (click)="forgotPass()">Forgot Password</ion-label>


      <ion-label class="abs_lbl">
        Syntry © 2022. All Rights Reserved. <br>
        <small>Made possible by <a href="http://bytescrafter.net">BytesCrafter</a></small>
      </ion-label>

  </div>
</ion-content>
