<ion-header *ngIf="auth.isAuthenticated">

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="openMenu()">
        <ion-icon slot="icon-only" ios="menu-outline" md="menu-outline" size="large"></ion-icon>
      </ion-button>
      <ion-icon name="cloud-done" *ngIf="msgSvs.isUserOnline" class="ion-margin-start" style="font-size: 24px; color: rgb(31, 215, 31);"></ion-icon>
      <ion-icon name="warning" *ngIf="!msgSvs.isUserOnline" class="ion-margin-start" style=" font-size: 24px; color: rgb(252, 46, 46);"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-img [src]="'assets/images/logo.png'" style="height: 30px; display: inline-flex;"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openRaffle()" *ngIf="true">
        <ion-icon slot="icon-only" name="ribbon"></ion-icon>
      </ion-button>
      <ion-button (click)="openBiov2()" *ngIf="auth.userPermits?.permissions?.can_use_biometric">
        <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openBio()" *ngIf="auth.userPermits?.permissions?.can_use_biometric">
        <ion-icon slot="icon-only" name="qr-code"></ion-icon>
      </ion-button>
      <ion-button (click)="reloadPage()">
        <ion-icon slot="icon-only" name="reload-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" *ngIf="auth.isAuthenticated">
      <ion-content>

        <ion-list *ngIf="auth.currentUser !== null" class="menu-header">
          <ion-item>
            <ion-thumbnail class="avatar-image" style="margin-bottom: 35px">
              <ion-img [src]="auth.currentUser.image" style="border-radius: 50%;"></ion-img>
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <div style="text-align: center; width: -webkit-fill-available; margin: 10px 0;">
              <ion-label style="font-size: 14px; line-height: 20px;">{{ auth.currentUser.first_name +' ' + auth.currentUser.last_name }}</ion-label>
              <ion-label style="font-size: 12px; line-height: 20px;">{{ auth.currentUser.email }}</ion-label>
            </div>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="auth.currentUser === null" class="menu-header">
          <ion-item>
            <ion-thumbnail class="avatar-image" style="margin-bottom: 35px">
              <ion-skeleton-text animated style="width: 100%; height: 100%; margin: auto; border-radius: 50%;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <div style="text-align: center; width: -webkit-fill-available; margin: 10px 0;">
              <ion-label style="font-size: 14px; line-height: 20px; text-align: center; margin-bottom: 10px;"><ion-skeleton-text animated style="width: 50%; margin: auto;"></ion-skeleton-text></ion-label>
              <ion-label style="font-size: 12px; line-height: 20px; text-align: center;"><ion-skeleton-text animated style="width: 70%; margin: auto;"></ion-skeleton-text></ion-label>
            </div>
          </ion-item>
        </ion-list>

        <ion-list id="inbox-list" *ngIf="auth.userToken !== null && !auth.userPermits?.permissions?.can_use_biometric">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item *ngIf="p.children?.length <= 0" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item *ngIf="p.children?.length > 0" [class.active-parent]="p.open" (click)="p.open = !p.open" lines="none" detail="false" button>
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-icon slot="end" [ios]="'chevron-up-outline'" [md]="'chevron-up-sharp'" *ngIf="p.open"></ion-icon>
              <ion-icon slot="end" [ios]="'chevron-down-outline'" [md]="'chevron-down-sharp'" *ngIf="!p.open"></ion-icon>
            </ion-item>
            <ion-list *ngIf="p.children?.length > 0 && p.open" class="subpages">
              <ion-menu-toggle auto-hide="false" *ngFor="let sp of p.children; let i = index">
                <ion-item routerDirection="root" [routerLink]="[sp.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="sp.icon + '-outline'" [md]="sp.icon + '-sharp'" class="subpage-icon"></ion-icon>
                  <ion-label>{{ sp.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-menu-toggle>
          <ion-item lines="none" button (click)="logout()">
            <ion-icon slot="start" ios="power-outline" md="power-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>

        <ion-list id="inbox-list" *ngIf="auth.userToken !== null && auth.userPermits?.permissions?.can_use_biometric">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="'home'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item lines="none" button (click)="logout()">
            <ion-icon slot="start" ios="power-outline" md="power-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
      <ion-footer>
        <ion-list class="menu-footer">
          <ion-label class="footer-item">Syntry v{{ util.version }} © 2022</ion-label>
          <ion-label class="footer-item footer-copy">Made Possible by&nbsp;<a href="http://bytescrafter.net" target="_blank" style="color: gray;">BytesCrafter</a></ion-label>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
