<ion-header *ngIf="auth.isAuthenticated">

  <ion-toolbar color="light">
    <ion-buttons slot="secondary">
      <ion-button (click)="reloadPage()">
        <ion-icon slot="icon-only" name="reload-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="openMenu()">
        <ion-icon slot="icon-only" ios="menu-outline" md="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img [src]="'assets/images/syntry.png'" style="height: 30px; display: inline-flex;"></ion-img>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" *ngIf="auth.isAuthenticated">
      <ion-content>

        <ion-list class="menu-header">
          <ion-item>
            <ion-thumbnail class="avatar-image">
              <ion-img [src]="auth.userToken.avatar" style="border-radius: 50%;"></ion-img>
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <ion-title style="font-size: 20px; display: block; text-align: center; height: 0px;">{{ auth.userToken.fullname }}</ion-title>
          </ion-item>
          <ion-item>
            <ion-title style="font-size: 14px; text-align: center;">{{ auth.userToken.email }}</ion-title>
          </ion-item>
        </ion-list>

        <ion-list id="inbox-list" *ngIf="auth.userToken !== null">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item lines="none" button (click)="logout()">
            <ion-icon slot="start" ios="power-outline" md="power-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>

        <ion-list class="menu-footer">
          <ion-label class="footer-item" style="font-size: 17px;">Syntry v{{ util.version }} © 2022</ion-label>
          <ion-label class="footer-item footer-copy">Made Possible by BytesCrafter</ion-label>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
