<!--

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
  <div class="space-top"></div>
  <div class="header">
    <ion-item style="padding-top: 10px;">
      <ion-label position="floating">Old Password</ion-label>
      <ion-input [(ngModel)]="oldpass" type="password"></ion-input>
    </ion-item>
    <ion-item style="padding-top: 10px;">
      <ion-label position="floating">New Password</ion-label>
      <ion-input [(ngModel)]="newpass" type="password"></ion-input>
    </ion-item>
    <ion-item style="padding-top: 10px;">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmpass" type="password"></ion-input>
    </ion-item>
    <div style="padding: 20px;">
      <ion-button expand="block" class="ion-activatable ripple-parent" (click)="changepass()">
        Submit Changes
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </div>

  </div>
