<ion-header>
  <ion-toolbar>
    <ion-button color="none" slot="start" (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="content-text">
    <ion-img src="../../../assets/images/logo.png"></ion-img>
    <p style="text-align: center;">Under Development</p>
    <p style="text-align: center;">BytesCrafter © 2021</p>
  </ion-text>
  <!-- <ion-slides pager="true" style="height: 100%;">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides> -->
</ion-content>
